* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* The html and body elements cannot have any padding or margin
Otherwise, footer will not be rendered correctly */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 90px;
  max-width: 720px;
  margin: auto;
  clear: both;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

#main-header {
  height: 60px;
  position: relative;
}

#main-header .right-side {
  height: 100%;
  position: absolute;
  right: 0;
}

#main-header .left-side {
  height: 100%;
  position: absolute;
  left: 0;
}

#main-header .right-side .login-button,
#main-header .right-side .logout-button {
  display: block;
  font-size: 24px;
  line-height: 60px;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;
}

#main-header .left-side .picture {
  height: 40px;
  margin: 10px 16px;
  border-radius: 100%;
}

#main-header .left-side .username {
  position: absolute;
  top: 9px;
  left: 72px;
  font-size: 22px;
  width: 100%;
  white-space: nowrap;
}

#main-header .left-side .email {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 72px;
  white-space: nowrap;
}

.vertical-align-middle {
  vertical-align: middle;
}

.flex-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -32px;
}

.article-wrapper {
  margin-left: -32px;
}

.category-wrapper, .item-wrapper, .article-wrapper {
  padding: 0 0 0 32px;
}

.category .header-img, .item .header-img {
  max-width: 100%;
  height: 100px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.category, .item, .article, #main-header {
  box-shadow: 0 1px 10px #696969;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.category .category-title {
  font-size: 20px;
  color: black;
  opacity: 0.7;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.item .item-title {
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0 1px 5px #696969;
  padding: 16px;
}

.item .options-button,
.item .delete-button,
.item .edit-button {
  position: absolute;
  top: -28px;
  right: 0;
  box-sizing: content-box;
  padding: 8px;
  margin: 8px;
  width: 24px;
  user-select: none;
  cursor: pointer;
}

.item .options-button {
  z-index: 5;
  height: 24px;
  border-radius: 100%;
}

.item .delete-button,
.item .edit-button {
  z-index: 4;
  opacity: 0;
  height: 0;
}

.item .options-panel.visible .delete-button,
.item .options-panel.visible .edit-button {
  opacity: 1;
  height: 25px;
}

.item .options-panel.visible .delete-button {
  top: -108px;
}

.item .options-panel.visible .edit-button {
  top: -68px;
}

.item .options-panel.visible .options-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.item .item-link {
  text-decoration: none;
}

.article .article-title {
  text-align: left;
  padding: 16px;
}

.article .article-text {
  font-size: 16px;
  padding: 16px;
  white-space: pre-line;
  margin-top: -50px;
}

.article-author, .article-source {
  font-size: 14px;
}

.article-author .subtitle, .article-source .subtitle {
  font-weight: bold;
  padding: 8px 16px;
}

.article-source a {
  color: #31A8F3;
  text-decoration: none;
}

.article-source a:hover, .article-source a:active {
  color: #1b39a8;
}

.initial .container {
  transform: scale(0.5) translate(-25px, 13px);
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  float: left;
}

.category:hover, .item:hover {
  box-shadow: 0 6px 20px #696969;
}

.back-button-wrapper, .editor-button-wrapper, .save-button-wrapper {
  margin: 16px;
}

.back-button, .editor-button, .save-button {
  padding: 16px;
}

.save-button {
  outline: none;
  border: none;
}

.back-button-wrapper {
  float: left;
}

.editor-button-wrapper, .save-button-wrapper {
  float: right;
}

.navigation a {
  text-decoration: none;
}

.clear-fix {
  clear: both;
}

.category, .category .header-img, .item, .item .header-img,
.item .options-button, .item .delete-button, .item .edit-button {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.category:hover .header-img, .item:hover .header-img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
