/* default styling for mobile devices */
.category-wrapper, .item-wrapper {
  width: 50%;
  margin: 32px 0;
  display: inline-block;
}

.article .article-title {
  font-size: 32px;
}

.navigation .description {
  display: none;
}

.item .item-title {
  font-size: 14px;
}

/* tablets */
@media screen and (min-width: 426px) {

  .navigation .description {
    display: inline;
  }

  .category-wrapper, .item-wrapper {
    width: 33.333%;
  }

  .article .article-title {
    font-size: 44px;
  }

  .item .item-title {
    font-size: 16px;
  }

}

/* laptops and bigger */
@media screen and (min-width: 768px) {

  body {
    width: 768px;
    margin: auto;
  }

}
