/* default styling for mobile devices */
.category-wrapper, .item-wrapper {
  width: 48%;
  margin: 32px auto;
  display: inline-block;
}

.article .article-title {
  font-size: 32px;
}

/* tablets */
@media screen and (min-width: 426px) {

  .category-wrapper, .item-wrapper {
    width: 31%;
  }

  .article .article-title {
    font-size: 44px;
  }

}

/* laptops and bigger */
@media screen and (min-width: 768px) {

  body {
    width: 768px;
    margin: auto;
  }

}
