<!DOCTYPE html>
<html>
    <head>
        <title>Material Design Resource Catalog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JS libraries-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>

        <!-- normalize.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
              rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" media="screen"
              href="{{url_for('static', filename='base.css')}}">
        <link rel="stylesheet" media="screen"
              href="{{url_for('static', filename='color-scheme.css')}}">
        <link rel="stylesheet" media="screen"
              href="{{url_for('static', filename='responsive.css')}}">
        <link rel="stylesheet" media="screen"
              href="{{url_for('static', filename='material_text.css')}}">
        <link rel="stylesheet" media="screen"
              href="{{url_for('static', filename='elements.css')}}">
    </head>
    <body>
        <div id="page-wrap">
            <header id="main-header" class="default-primary-color">
              {% if not g.current_user: %}
              <div class="right-side">
                <a class="login-button text-primary-color"
                   href="{{url_for('show_login')}}">
                  Login
                </a>
              </div>
              {% endif %}
              {% if g.current_user: %}
                <div class="left-side">
                  <img src="{{g.current_user.picture}}"
                       alt="User profile picture"
                       class="picture">
                  <div class="username text-primary-color">
                    {{g.current_user.username}}
                  </div>
                  <div class="email light-primary-text">
                    {{g.current_user.email}}
                  </div>
                </div>
                <div class="right-side">
                  <a class="logout-button text-primary-color"
                    href="javascript:void(0)">
                   Logout
                  </a>
                </div>
              {% endif %}
            </header>
            <main role="main">
                {% block content %}
                {% endblock %}
            </main>
            <div id="push"></div>
        </div>

        <footer id="footer" class="default-primary-color text-primary-color">
          Anton Kachurin, 2017
        </footer>

        <!-- Custom JS -->
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <script src="{{url_for('static', filename='material_text.js')}}"></script>

    </body>
</html>
