{% extends "base.html" %}

{% block content %}

<nav class="navigation">
  <div class="back-button-wrapper">
    <a href="/catalog">
      <div class="back-button light-primary-color dark-primary-text">
        <i class="material-icons vertical-align-middle">arrow_back</i>
        <span class="description vertical-align-middle">
          To categories
        </span>
      </div>
    </a>
  </div>
  <div class="editor-button-wrapper">
    <a href="/catalog/{{category.path}}/add">
      <div class="editor-button accent-color primary-text-color">
        <span class="description vertical-align-middle">
          Add article
        </span>
        <i class="material-icons vertical-align-middle">note_add</i>
      </div>
    </a>
  </div>
  <div class="clear-fix"></div>
</nav>

<div class="flex-list">
{% for item in items %}
  <div class="item-wrapper">
    <article class="item">
      <a class="item-link" href="/catalog/{{category.path}}/{{item.label}}">
        <div class="header-img"
             style="background-image: url({{item.image}})">
        </div>
        <header class="item-title">
          {{item.title}}
        </header>
      </a>
    </article>
  </div>
{% endfor %}
</div>

{% endblock %}
