<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login to Material Design Resource Catalog</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <style media="screen">
      html, body, .container {
        height: 100%;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <script>
      function redirect_to_main(){
        window.location = '/catalog';
      }

      function googleSignInCallback(authResult){
        console.log(authResult)
        var error = authResult['error'];
        var code = authResult['code'];
        if(code){
          //$('#google-signin').hide();

          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{state_str}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: code
          }).done(function(result){
            //$('#google-result').text('signed in with google successfully');
            redirect_to_main();
          })
        }
        if(error){
          $('#google-result').text('failed to signin with google: ' + error);
        }
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId: {{fb_client_id}},
          cookie: true,  // enable cookies to allow the server to access
                         // the session
          xfbml: true, //  parse social plugins on this page
          version: 'v2.4' // use version 2.2
        });
      };
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function sendTokenToServer(response) {
        if(response.status != 'connected'){
          $('#fb-result').html('failed to signin with fb');
          return ;
        }
        var access_token = response.authResponse.accessToken;
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{state_str}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                //$('#fb-result').html('Login successfully!</br>'+ result);
                redirect_to_main();
              }
              else {
                $('#fb-result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
          });
        });
      }

      function checkLoginState(){
        FB.getLoginStatus(function(response) {
          sendTokenToServer(response);
        });
      }

    </script>
    <div class="container">
      <div class="centered">
        <div id="google-signin">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="{{g_client_id}}"
            data-redirecturi="{{redirect_uri}}"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="googleSignInCallback"
            data-approvalprompt="force">
          </span>
        </div>
        <div id="google-result"></div>

        <div class="fb-login-button"
             data-max-rows="1"
             data-size="large"
             data-show-faces="false"
             data-auto-logout-link="false"
             scope="public_profile,email"
             onlogin="checkLoginState();">
        </div>
        <div id="fb-result"></div>
      </div>
    </div>

  </body>
</html>
